In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv

url = 'https://www.t20worldcup.com/fixtures'
p = requests.get(url)
soup = BeautifulSoup(p.content,'html.parser')
content = soup.find_all()
print(p)

content = soup.find_all('time', class_="match-block__date-local")
print(content[0].text)

content1 = soup.find_all('div', class_="match-block__teams-wrapper match-block__teams-wrapper--desktop")

frontheader = ["date","match name"]
itemfull = []

dates = []
for item in content:
  dates.append(item.text[3:].strip())

print(dates)

for item in content1:
  items = []
  content2 = item.find_all('span', class_="match-block__team-name")
  matchname = content2[0].text+" Vs "+content2[1].text
  itemfull.append(matchname)
print(itemfull)  

fulldata = []
for i in zip(dates,itemfull):
  fulldata.append(i)

print(fulldata)

pd.DataFrame(fulldata).to_csv("/content/sample_data/t20 worldcup.csv",header=frontheader)

<Response [200]>

                                    Fri 10 February (LOCAL)

['Fri 10 February (LOCAL)', 'Fri 10 February (LOCAL)', 'Sat 11 February (LOCAL)', 'Sat 11 February (LOCAL)', 'Sat 11 February (LOCAL)', 'Sat 11 February (LOCAL)', 'Sun 12 February (LOCAL)', 'Sun 12 February (LOCAL)', 'Sun 12 February (LOCAL)', 'Sun 12 February (LOCAL)', 'Mon 13 February (LOCAL)', 'Mon 13 February (LOCAL)', 'Mon 13 February (LOCAL)', 'Mon 13 February (LOCAL)', 'Tue 14 February (LOCAL)', 'Tue 14 February (LOCAL)', 'Wed 15 February (LOCAL)', 'Wed 15 February (LOCAL)', 'Wed 15 February (LOCAL)', 'Wed 15 February (LOCAL)', 'Thu 16 February (LOCAL)', 'Thu 16 February (LOCAL)', 'Fri 17 February (LOCAL)', 'Fri 17 February (LOCAL)', 'Fri 17 February (LOCAL)', 'Fri 17 February (LOCAL)', 'Sat 18 February (LOCAL)', 'Sat 18 February (LOCAL)', 'Sat 18 February (LOCAL)', 'Sat 18 February (LOCAL)', 'Sun 19 February (LOCAL)', 'Sun 19 February (LOCAL)', 'Sun 19 February (LOCAL)', 'Sun 19 February (LOCAL)', 'Mon 20 February (LOCAL)', 'Mon 20 February (LOCAL)', 'Tue 21 February (LOCAL)', 'Tue 21 February (LOCAL)', 'Tue 21 February (LOCAL)', 'Tue 21 February (LOCAL)', 'Thu 23 February (LOCAL)', 'Thu 23 February (LOCAL)', 'Fri 24 February (LOCAL)', 'Fri 24 February (LOCAL)', 'Sun 26 February (LOCAL)', 'Sun 26 February (LOCAL)']
['Sri Lanka Vs Australia', 'New Zealand Vs Bangladesh', 'West Indies Vs Ireland', 'England Vs India', 'South Africa Vs Australia', 'Pakistan Vs West Indies', 'New Zealand Vs Sri Lanka', 'India Vs Ireland', 'England Vs Pakistan', 'South Africa Vs Bangladesh', 'Semi-Finalist 1 Vs Semi-Finalist 2', 'Semi-Finalist 3 Vs Semi-Finalist 4', 'Winner of SF1 Vs Winner of SF2']
[('Fri 10 February (LOCAL)', 'Sri Lanka Vs Australia'), ('Fri 10 February (LOCAL)', 'New Zealand Vs Bangladesh'), ('Sat 11 February (LOCAL)', 'West Indies Vs Ireland'), ('Sat 11 February (LOCAL)', 'England Vs India'), ('Sat 11 February (LOCAL)', 'South Africa Vs Australia'), ('Sat 11 February (LOCAL)', 'Pakistan Vs West Indies'), ('Sun 12 February (LOCAL)', 'New Zealand Vs Sri Lanka'), ('Sun 12 February (LOCAL)', 'India Vs Ireland'), ('Sun 12 February (LOCAL)', 'England Vs Pakistan'), ('Sun 12 February (LOCAL)', 'South Africa Vs Bangladesh'), ('Mon 13 February (LOCAL)', 'Semi-Finalist 1 Vs Semi-Finalist 2'), ('Mon 13 February (LOCAL)', 'Semi-Finalist 3 Vs Semi-Finalist 4'), ('Mon 13 February (LOCAL)', 'Winner of SF1 Vs Winner of SF2')]

In [ ]:
data=pd.read_csv("/content/sample_data/t20 worldcup.csv")
data.tail(50)

    Unnamed: 0                     date                          match name
0            0  Fri 10 February (LOCAL)              Sri Lanka Vs Australia
1            1  Fri 10 February (LOCAL)           New Zealand Vs Bangladesh
2            2  Sat 11 February (LOCAL)              West Indies Vs Ireland
3            3  Sat 11 February (LOCAL)                    England Vs India
4            4  Sat 11 February (LOCAL)           South Africa Vs Australia
5            5  Sat 11 February (LOCAL)             Pakistan Vs West Indies
6            6  Sun 12 February (LOCAL)            New Zealand Vs Sri Lanka
7            7  Sun 12 February (LOCAL)                    India Vs Ireland
8            8  Sun 12 February (LOCAL)                 England Vs Pakistan
9            9  Sun 12 February (LOCAL)          South Africa Vs Bangladesh
10          10  Mon 13 February (LOCAL)  Semi-Finalist 1 Vs Semi-Finalist 2
11          11  Mon 13 February (LOCAL)  Semi-Finalist 3 Vs Semi-Finalist 4
12          12  Mon 13 February (LOCAL)      Winner of SF1 Vs Winner of SF2